<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <link rel="stylesheet" th:href="@{/css/homepage.css}">
    <title>homepage</title>
</head>
<body>
    <header>
        <nav>
            <img th:src="@{/image/logo.png}" alt="">
            
            <ul> 
                    <select name="" id="dropdown">
                    <li><a href=""><option value="">商品一覧</option></a></li>
                        <option value="pc">パソコン</option>
                        <option value="smartphone">スマートフォン</option>
                        <option value="tablet">タブレット</option>
                    </select>
                    <li><a href="#" target="_blank">問い合わせ</a></li>
                    <li><a href="#" target="_blank">購入履歴</a></li>
                    <li><a th:href="@{/user/login}" target="_blank">ログアウト</a></li>
                    <li class="user-register btn" target="_blank"><a th:href="@{/user/register}">登録</a></li>
                    <input type="text" class="search"><i class='bx bx-search'></i>
            </ul>
        
        </nav>
    </header>

    <main>
        <div id="video">
            <video th:src="@{/image/video1.mp4}" autoplay muted loop>PC video</video>
        </div>

        <section class="popular-products">
            <h2>人気商品</h2>
            <ul>
                <li><img th:src="@{/image/pic1.jpg}" alt=""></li>
                <li><img th:src="@{/image/pic2.jpg}" alt=""></li>
                <li><img th:src="@{/image/pic3.jpg}" alt=""></li>
                <li><img th:src="@{/image/smartphone1.webp}" alt=""></li>
                <li><img th:src="@{/image/smartphone2.webp}" alt=""></li>
                <li><img th:src="@{/image/smartphone3.webp}" alt=""></li>
                <li><img th:src="@{/image/tablet1.avif}" alt=""></li>
                <li><img th:src="@{/image/tabletpic2.jpeg}" alt=""></li>
                <li><img th:src="@{/image/tablet3.jpeg}" alt=""></li>
            </ul>
        </section>

        
        <section class="products-article">
            <h4>生活の中にその便利さがある</h4>
            <div class="product" th:each="product:${userProductList}">
                <a th:href="'/user/product/detail/'+${product.productId}"><img th:src="'/product-img/'+${product.productImage}" alt="" target="_blank"></a>
                <h3 th:text="${product.productName}"></h3>
                <p th:text="${product.productDetail}"></p>
                <p th:text="${product.productPrice}+'円'"></p>
            </div>

                   

        <footer>
            <div class="google-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m22!1m8!1m3!1d210900.9910384974!2d133.9583353!3d34.3166657!3m2!1i1024!2i768!4f13.1!4m11!3e3!4m5!1s0x3553be2dbc9e267b%3A0x4cf6f8f867e06f2b!2z5LiJ5pyo55S6!3m2!1d34.268447099999996!2d134.1343947!4m3!3m2!1d34.2718509!2d134.14990939999998!5e0!3m2!1sja!2sjp!4v1709791118745!5m2!1sja!2sjp" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </footer>

        </section>
    </main>
    <script src="script.js"></script>  
</body>

</html>