<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>管理者商品一覧</title>
    <link rel="stylesheet" th:href="@{/css/product.css}">
</head>

<body>
    <header>
        <nav>
            <img src="/img/Logo.png" alt="">
            <ul>
                <select name="" id="dropdown">
                    <li><a href="" target="_blank">
                            <option value="product">商品一覧</option>
                        </a></li>
                    <a href="" target="_blank">
                        <option value="pc">パソコン</option>
                    </a>
                    <a href="" target="_blank"></a>
                        <option value="smartphone">スマートフォン</option>
                    </a>
                    <a href="" target="_blank">
                        <option value="tablet">タブレット</option>
                    </a>
                </select>
                <li><a th:href="@{/admin/product/register}" target="_blank">商品登録</a></li>
                <li><a th:href="@{/admin/edit}" target="_blank">商品編集</a></li>
                <!--<li><a href="" target="_blank" _blank>商品削除</a></li>-->
                <li><a href="" target="_blank">ログアウト</a></li>
                <input type="text" class="search"><i class='bx bx-search'></i>
            </ul>

        </nav>
    </header>
    <section class="cart">
        <div class="product1" th:each="product:${productList}">
			<a th:href="'/admin/edit/'+${product.productId}">
            	<img th:src="'/product-img/'+${product.productImage}" alt="">
            	<!--<p>商品ID:</p>-->
           	 	<p th:text="'商品名前:'+${product.productName}"></p>
            	<p th:text="'商品値段:'+${product.productPrice}"></p>
            	<p th:text="'商品詳細:'+${product.productDetail}"></p>
            	<p th:text="'商品登録日:'+${product.registerDate}"></p>
			</a>
        </div>
    </section>

    <div>
        <button class="purchase" onclick="location.href='/admin/product/register'">商品登録画面へ</button>
    </div>

</body>

</html>