<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" th:href="@{/css/userpurchasehistoryviewlist.css}">
    <title>userpurchasehistoryviewlist</title>
</head>
<body>
    
        <header>
            <nav>
                <img th:src="@{/image/logo.png}" alt="">
                
                <ul> 
                        <select name="" id="dropdown">
                        <li><a href=""><option value="">商品一覧</option></a></li>
                            <option value="pc">パソコン</option>
                            <option value="smartphone">スマートフォン</option>
                            <option value="tablet">タブレット</option>
                        </select>
                        <li><a href="#" target _blank>問い合わせ</a></li>
                        <li><a th:href="@{/user/purchased/history}" target _blank>購入履歴</a></li>
                        <li><a th:href="@{/user/logout}" target _blank>ログアウト</a></li>
                        <input type="text" class="search"><i class='bx bx-search'></i>
                </ul>
            </nav>

        </header>

       		
            <div class="product-list" th:each="history:${historys}">
                <img th:src="'/product-img/'+${history.productImage}" alt="">
                <p th:text="'商品名：'+${history.productName}"></p>
                <p th:text="'金額:'+${history.productPrice}"></p>
                <button>カートに追加</button>
            </div>

            
</body>
</html>